@page "/vector-gallery"
@using System.Collections.Generic

<style>
	h5 {
		text-align: justify;
	}
	a {
		margin: 0.25rem;
	}
</style>

<h1 class="display-3">My Abstract Art</h1>

<img src="abstract_art/bitmap/avatar/avatar_classic.jpeg" align="right" style="width:7rem;height:7rem;margin-left:1rem;" alt="My old Profile Picture"/>

<h5>
	Inspired by this image, which was my profile pic from 2014(ish) to the beginning of July, 2020.
	It was the basis for my new set of profile pictures, which are currently in use. Check the homepage to see my current Gravatar.:
</h5>

<h3 class="display-6">The Images.</h3>

<div style="display: flex; flex-flow: row wrap; justify-content: space-evenly;">
	@foreach (var artwork in _artworks)
	{
		<div class="card" style="width: 18rem; margin: 0.5rem;">
			<img src="@artwork.RelativePngUrl" class="card-img-top" alt="Preview of Artwork: '@artwork.Name'">
			<div class="card-body">
				<h5 class="card-title">@artwork.Name</h5>
				<div style="display: flex;">
					<a href="@artwork.RelativeSvgUrl" target="_blank" download style="width:100%" class="btn btn-outline-primary">SVG</a>
					<a href="@artwork.RelativePngUrl" target="_blank" download style="width:100%" class="btn btn-outline-secondary">PNG</a>
				</div>
			</div>
		</div>
	}
</div>

<h3 class="display-6">Get the SVGs and PNGs</h3>
<table class="table table-striped table-hover">
	<thead>
		<th scope="col">Name</th>
		<th scope="col">PNG Res</th>
		<th scope="col">SVG</th>
		<th scope="col">PNG</th>
	</thead>
	
	<tbody>
		@foreach (var artwork in _artworks)
		{
			<tr>
				<th scope="row">@artwork.Name</th>
				<td>@artwork.Size</td>
				<td>
					<a href="@artwork.RelativeSvgUrl" target="_blank" download style="width:100%" class="btn btn-sm btn-outline-primary">SVG</a>
				</td>
				<td>
					<a href="@artwork.RelativePngUrl" target="_blank" download style="width:100%" class="btn btn-sm btn-outline-secondary">PNG</a>
				</td>
			</tr>
		}
	</tbody>
</table>


@code{

	List<Artwork> _artworks = new List<Artwork>
	{
		new Artwork("Main Avatar", "abstract_art/vector/avatar/avatar.svg", "abstract_art/bitmap/avatar/avatar.png", 2000, 2000),
		new Artwork("Dark Avatar", "abstract_art/vector/avatar/avatar_dark.svg", "abstract_art/bitmap/avatar/avatar_dark.png", 2000, 2000),
		new Artwork("High Contrast Avatar", "abstract_art/vector/avatar/avatar_contrast.svg", "abstract_art/bitmap/avatar/avatar_contrast.png", 2000, 2000),
		new Artwork("Abstract 1", "abstract_art/vector/abstract-1.svg", "abstract_art/bitmap/abstract-1.png", 2000, 2000),
		new Artwork("Abstract 2", "abstract_art/vector/abstract-2.svg", "abstract_art/bitmap/abstract-2.png", 2000, 2000),
		new Artwork("Abstract 3", "abstract_art/vector/abstract-3.svg", "abstract_art/bitmap/abstract-3.png", 2000, 2000),
		new Artwork("Mashup: Chaos", "abstract_art/vector/mashups/chaos.svg", "abstract_art/bitmap/mashups/chaos.png", 4000, 4000)
	};
}